<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body>
    <form action="/update_password" method="post">
        <h3>Enter Your registered email</h3>
        <input type="email" name="username" id="" required>
        <br>
        <h3>Enter Your new Password</h3>
        <input type="password" name="password" id="">
        <input type="submit" value="submit">
    </form>
</body>
</html>